{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-lg section section-left">
            <div class="button-section left-button-section">
                <a class="custom-title" href="test1">
                    Designer Graphique
                </a>
            </div>
        </div>
        <div class="col-lg section section-right">
            <div class="button-section right-button-section">
                <a class="custom-title" href="test2">
                    Artiste Illustrateur
                </a>
            </div>
        </div>
    </div>
{% endblock %}