{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h1>Lucas Prothery</h1>
                <h2>Artiste Onirique</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg">
                <a class="custom-title" href="test2">
                    Moitié 1
                </a>
            </div>
            <div class="col-lg">
                <a class="custom-title" href="test2">
                    Moitié 2
                </a>
            </div>
        </div>

    </div>

{% endblock %}